*{
    margin: 0;
    padding: 0;
}

input:hover{
    opacity: 0.7;
}

button:hover{
    opacity: 0.7;
}

button:active{
    opacity: 10;
}

h1{
    padding: 2rem;
    font-size: 4rem;;
}
body{
    background-color: #1b2330;
    text-align: center;
    color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    height: 25rem;
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.box{
    height: 7rem;
    width: 7rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #84a59d;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #a2a2a2;
    color: #0b3954;
    font-size: 5rem;
    cursor: pointer;
}

.reset{
    height: 3rem;
    width: 8rem;
    border-radius: 1rem;
    background-color: #f28482;
    font-size: 1rem;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.hiddenreset{
    height: 3rem;
    width: 8rem;
    border-radius: 1rem;
    background-color: #f28482;
    font-size: 1rem;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.newgame{
    height: 3rem;
    width: 8rem;
    border-radius: 1rem;
    background-color: #b6ccfe;
    font-size: 1rem;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.hiddenbuttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#reset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#playersdetails{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Submit{
    height: 2rem;
    width: 5rem;
    background-color: #4cc9f0;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#input1{
    height: 2rem;
    width: 8rem;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #b7b7a4;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#input2{
    height: 2rem;
    width: 8rem;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #b7b7a4;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.Player1name{
    height: 2rem;
    width: 10rem;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #b7b7a4;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.Player2name{
    height: 2rem;
    width: 10rem;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #b7b7a4;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.Player1{
    padding-right: 7rem;
}

.Player2{
    padding-left: 7rem;
}

.Winner-Container{
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 30rem;
}

.msg{
    color: #57cc99;
    font-weight: 1000;
    font-size: 3rem;
}

.scoremsg1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #e9d8a6;
    font-weight: 300;
    font-size: 2.5rem;
}

.scoremsg2{
    padding-bottom: 2rem;
    color: #d8e2dc;
    font-weight: 300;
    font-size: 2.5rem;
}

.hide{
    display: none;
}



/******************************************************Responsivness*************************************************/

/* Styles for Small Screens (Mobile) */
@media (max-width: 767px) {
    /* Mobile-specific styles */
    .container{
        display: grid;
    }
    .game{
        height: 9rem;
        width: 9rem;
        padding-top: 2rem;
        padding-left: 8rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .box{
        height: 2rem;
        width: 2rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 1rem;
    }
    
    .Player1{
        margin-left: 8rem;
    }

    .Player2{
        margin-top: 2rem;
        margin-right: 7.3rem;
    }

    .Winner-Container{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    
    .msg{
        font-size: 2rem;
        padding-top: 0rem;
        padding-bottom: 1rem;
    }

    .scoremsg1{
        font-size: 1.5rem;
        padding-top: 0rem;
        padding-bottom: 1rem;
    }

    .scoremsg2{
        font-size: 1.5rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    h1{
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-size: 3rem;;
    }
    .hiddenreset{
        height: 2rem;
        width: 6rem;
        font-size: 0.8rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    .newgame{
        height: 2rem;
        width: 6rem;
        font-size: 0.8rem;
        margin-top: 1rem;
    }

    .reset{
        height: 2rem;
        width: 6rem;
        font-size: 0.8rem;
        margin-top: 1rem;
    }

  }
  
  /* Styles for Medium Screens (Tablet) */
  @media (min-width: 768px) and (max-width: 1084px) {
    /* Tablet-specific styles */
    .game{
        height: 9rem;
        width: 9rem;
        padding-top: 2rem;
        padding-left: 8.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .box{
        height: 2rem;
        width: 2rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 1rem;
    }
  }
  
  /* Styles for Large Screens (Desktop) */
  @media (min-width: 1084px) {
    /* Desktop-specific styles */
  }